* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}



/*Inicio do header*/
header {
    display: flex;
    padding: 20px;
    width: 100%;
    background-color: rgb(54, 2, 80);
    align-items: center;
    position:sticky;
    top: 0;

}

.logo-news {
    font-size: 36px;
    color: rgb(61, 244, 88);
    margin-right: 120px;
}

.menu-nav {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    color: rgb(254, 251, 251);
}

nav input {
    margin-left: 60px;
    padding: 4px;
    width: 250px;
}

nav img {
    box-sizing: content-box;
    background-color: rgb(220, 216, 212);
    margin-left: 10px;
}

/*fim do header*/

/*Inicio do Main*/
.hero {
    background-color: rgb(240, 248, 255);
}

.video-hero {
    margin: 40px 5px 15px 5px;
    width: 100%;
    
}

h1 {
    font-size: 40px;
    color: rgb(4, 4, 104);
    margin: 5px 0 10px 30px;
}

.news-main {
    background-color:rgb(240, 248, 255);
    width: 98%;
}

.news-main img {
    height: 250px;
    width: 350px;
}

.news-main h2 {
    display: inline;
    font-size: 36px;
    margin: 40px 25px;
    color: rgb(14, 11, 11);
}

.news-main h3 {
    font-size: 30px;
    margin: 0px 25px;
    color: rgb(14, 11, 11);
    width: 100%;
    height: 60px;
}
.policy {
    display: flex;
    align-items: center;
    background-color: beige;
    height: 300px;
}

.policy img {
    margin: 0 20px;
}

.policy p {
    font-size: 19px;
    margin-right: 15px;
}

.economy {
    display: flex;
    align-items: center;
    background-color: beige;
    height: 400px;
}

.economy img {
    margin: 0 20px;
}

.economy p {
    font-size: 17px;
    margin-right: 5px;
}

.health {
    display: flex;
    align-items: center;
    background-color: beige;
    height: 400px;
}

.health img {
    margin: 0 20px;
}

.health p {
    font-size: 17px;
}

.sport {
    display: flex;
    align-items: center;
    background-color: beige;
    height: 400px;
}

.sport img {
    margin: 0 20px;
}

.sport p {
    font-size: 17px;
}

.technology {
    display: flex;
    align-items: center;
    background-color: beige;
    height: 400px;
}

.technology img {
    margin: 0 20px;
}

.technology p {
    font-size: 17px;
}
/*Fim do Main*/

/*Inicio footer*/
footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:  rgb(54, 2, 80);
}

footer h5 {
    color: rgb(61, 244, 88);
    font-size: 16px;
    margin-left: 40%;
    min-height: 50%;
}
/*Fim do Footer*/

@media screen and (max-width: 1050px) {
/*Inicio do header*/
    
   nav {
        display: none;
    }

    header {
        width: 100%;
        height: 20px;
    }
    .logo-news {
        font-size: 16px;
    }
    /*Fim do header*/

    /*Inicio do main*/
    
    h1 {
        font-size: 20px;
        max-width: 300px;
        margin: 5px 0 10px 100px;
    }

    .video-hero {
    width: 300px;
    height: 200px;
    margin-left: 60px;
    }

    .policy{
        flex-direction: column;
    }
    .economy {
        flex-direction: column;
    }
    
    .health {
        flex-direction: column;
    }
    .sport {
        flex-direction: column;
    }

    .technology {
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    /*fim do main*/
    
}